:root {
  --dark-background-color: #1F2937;
  --light-background-color: #3882F6;
	--1-font-size: 48px;
	--2-font-size: 36px;
	--3-font-size: 24px;
	--4-font-size: 18px;
	--bright-light-font-color: #F9FAF8;
	--dim-light-font-color: #E5E7EB;
	--body-width: 1200px;
	--container-width: 1000px;
	--container-height: 400px;
}

/**
* {
	border: 1px solid green;
}
/**/

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	width: 1200px;
	background-color: var(--dark-background-color);
	font-family: Roboto, sans-serif;
}

/*done*/
.header {
	display: flex;
	align-items: center;
	height: 80px;
	background-color: var(--dark-background-color);
	width: var(--container-width);
}
.header .logo {
	color: var(--bright-light-font-color);
	font-size: var(--3-font-size);
	font-weight: bold;
	margin-right: auto;
}
.header .link {
	color: var(--dim-light-font-color);
	font-size: var(--4-font-size);
	margin-left: 2em;
}

.footer {
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: center;
	width: var(--container-width);
	background-color: var(--dark-background-color);
}
.footer div {
	color: var(--dim-light-font-color);
	font-size: var(--4-font-size);
}

.presentation {
	display: flex;
	align-items: center;
	height: var(--container-height);
	width: var(--container-width);
	background-color: var(--dark-background-color);
}
.presentation .text,
.presentation .image {
	flex: 1; /* make both sides equal */
}
.presentation .image {
	display: flex;
	justify-content: center;
}
.presentation .title {
	color: var(--bright-light-font-color);
	font-size: var(--1-font-size);
	font-weight: bolder;
}
.presentation p {
	color: var(--dim-light-font-color);
	font-size: var(--4-font-size);
	margin: 0.5em 0;
}
.presentation button {
	background-color: var(--light-background-color);
	border-radius: 8px;
	border: none;
	color: var(--bright-light-font-color);
	font-weight: bold;
	padding: 0.5em 2em;
}


.info {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: var(--container-height);
	justify-content: center;
	width: 100%;
	background-color: #FFFFFF;
}
.info .title {
	color: var(--dark-background-color);
	font-size: var(--2-font-size);
	font-weight: bolder;
	padding: 1em;
}
.info .images {
	display: flex;
}
.info .post {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px 20px 50px;
}
.post img {
	border-radius: 8px;
	border: 3px solid var(--light-background-color);
	margin-bottom: 10px;
}
.post div {
	width: 150px;
}

.quote {
	display: flex;
	align-items: center;
	height: var(--container-height);
	justify-content: center;
	width: 100%;
	background-color: var(--dim-light-font-color);
}
.quote .text {
	color: var(--dark-background-color);
	font-size: var(--2-font-size);
	font-style: italic;
	font-weight: lighter;
	width: 800px;
}
.quote .author {
	color: var(--dark-background-color);
	font-size: var(--3-font-size);
	font-weight: bold;
	margin: 10px 0 0;
	text-align: right;
}

.calltoaction {
	display: flex;
	align-items: center;
	height: var(--container-height);
	justify-content: center;
	width: 100%;
	background-color: #FFFFFF;
}
.calltoaction .content {
	display: flex;
	align-items: center;
	border-radius: 8px;
	justify-content: space-around;
	padding: 40px 0;
	width: var(--container-width);
	background-color: var(--light-background-color);
}
.calltoaction .title{
	color: var(--bright-light-font-color);
	font-size: var(--3-font-size);
	font-weight: bold;
}
.calltoaction .text {
	color: var(--dim-light-font-color);
	font-size: var(--4-font-size);
	padding: 0;
}
.calltoaction button{
	background-color: var(--light-background-color);
	border-radius: 8px;
	border: 1px solid var(--bright-light-font-color);
	color: var(--bright-light-font-color);
	font-weight: bold;
	padding: 0.5em 2em;
}
